body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 20px;
	padding-top: 100px !important;
}

html {
	padding-bottom: 20px;
}

#iter {
	margin: auto;
	height:400px;
	text-align:center;
}

#iter>div {
	text-align: center;
}

#senato legend, #commissioniS legend {
	background: #9A1818;
}

#senato, #senato .itemClick, #commissioniS {
	border: 5px solid #9A1818;
}
#camera legend, #commissioniC legend {
	background: #4373A2;
}

#camera, #camera .itemClick, #commissioniC  {
	border: 5px solid #4373A2;
}

#logoCamera, #logoSenato {
	float: left;
	padding-top: 5px;
	margin-top: 5px;
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: white;
}

#logoCamera img, #logoSenato img {
	vertical-align: top;
	height: 20px;
}

#cameraSenato {
	margin:auto;
	min-width: 970px;
	max-width: 1200px;
}

fieldset {
	width: 200px;
	min-height: 300px;
	position: relative;
	text-align:center;
	padding-bottom: 10px;
}
#proposta, #approvazione, fieldset legend {
    padding: 5px 10px;
    font-size: 32px;
}

fieldset legend {
    font-size: 28px;
}

.round {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 100px;
    height: 100px;
    line-height: 100px;
    display:block;
    float: left;
    border: 5px solid #ddd;
    vertical-align: middle;
}

.btn-circle {
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 6px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.428571429;
	border-radius: 50%;
	background: rgba(0,0,0,0);
}

.itemClick:hover {
    border-color: #5CB85C !important;
    cursor: pointer;
}

fieldset legend {
    background: #2274D9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    font-weight: bold !important;
    text-align: center !important;
    width: 175px;
    margin-left: 10px;
    padding:0 10px;
    border-bottom:none;
}

.commissioni legend {
	font-size: 20px;
	width: 180px;
	margin-left: 30px;
}

fieldset.commissDate {
	width: 90%;
	min-height: 100px;
	margin: auto;
}

fieldset.commissDate legend {
	font-size: 1.1em;
}

.commissioni {
	width: 250px;
}

#commissioniS {
	margin-left: 20px;
	float: right;
}

#commissioniC {
	margin-right: 20px;
	float: left;
}

#middle {
	float: left;
	min-width: 410px;
}

#camera {
	float:left;
}

#senato {
	float:right;
}

#proposta, #approvazione {
    color: black;
    border: 5px solid #ddd;
    width: 50%;
    min-width: 300px;
    margin:auto;
    border-radius: 5px !important;
}

#approvazione {
	margin-bottom: 30px;
}

.active {
	border-color: #5CB85C !important;
}

legend.active {
	box-shadow: 0 0 0 5px #5CB85C !important;
}

#statusBar {
	margin-top: 5px;
}

#proposta {
	margin-top: 100px;
}

#proposta .data, #approvazione .data {
	display:block;
	font-size: 0.7em;
}

.clear {
	clear: both;
}

#progressBar{
	width:100%;
	height: 30px;
	border: 5px solid #ddd; 
	border-radius: 5px;
}


#camera .items>div, #senato .items>div {
	height: 105px;
}


#statusButtons {
	margin:auto;
	width: 130px;
}

#bottomArrow, #topArrow {
	height: 100px;
}

#centerArrow {
	position: absolute;
}

line.arrow {
	stroke: #5CB85C;
	stroke-width: 2px;
}

marker#arrow {
	fill: #5CB85C;
}

.notApproved {
	border-color: #FF0000 !important;
}

.progress {
	margin-bottom: 5px;
	margin-top: 30px;
}

#statusDateButtons {
	padding: 0px;
	margin-top: -30px;
}

#statusDateButtons span {
	position:absolute;
	display: block;
	float: left;
	font-size: 0.9em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform:rotate(-45deg);
    background-color: black;
    color: white;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
}

#statusDateButtons span.miniStep {
	font-size: 0.7em;
}

#statusDateButtons span:hover {
	cursor: pointer;
	color: #5CB85C !important;
}

#statusBarInfo {
	padding: 5px;
	margin: 75px 0 5px 0;
	text-align: center;
}

#statusBarInfo:empty {
	opacity: 0;
}

.activeColor {
	color: #5CB85C !important;
}

#statusBarWidget {
	height: 20px; 
}

.info_C {
	color: white;
	background: #4373A2 !important;
}

.info_S {
	color: white;
	background: #9A1818 !important;
}

.dateWidget.alert-success {
	color: #000000 !important;
}

.dateWidget.alert-success.activeColor {
	color: #5CB85C !important;
}

.badge {
	display: block;
	margin-top: 10px;
	margin-left: -20px;
	width: 25px;
	height: 25px;
	border-radius: 50% !important;
	background: white !important;
	-webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform:rotate(45deg) !important;
}

.badge.info_C {
	border: 2px solid #4373A2 !important;
	background: url("../images/camera.gif") white no-repeat center !important;
	background-size: 16px !important;
}

.badge.info_S {
	border: 2px solid #9A1818 !important;
	background: url("../images/senato.jpg") white no-repeat center !important;
	background-size: 16px !important;
}
