body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}


#list {
	width: 200px;
	border: 1px solid black;
	position:absolute;
	left: 970px;
	padding: 10px;
}

.listName {
	font-weight: bold;
}

.listPercColor {
	padding-right: 5px;
}

.cName {
	padding-right: 10px;
	
}

.cName:after {
	content: ':';
	
}

.iniziativaPerc {
	margin-bottom: 10px;
}

.initResults {
	padding-left: 20px;
}
